In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("instagram_reach.csv")

In [3]:
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where itâ€™s going. We just have toÂ ...,880,#deckÂ .#macÂ #macintosh#sayhelloÂ #appleÂ #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswhoÂ #aitradingÂ #aiÂ #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iotÂ #cre#workplaceÂ #CDOÂ #bigdataÂ #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearningÂ #instabigdata#instamarke...,3 hours,30

In [8]:
df=df.drop(labels=["Unnamed: 0","S.No"],axis=1)

In [9]:
df.to_csv("instagram_research.csv",index=False)

In [10]:
df.head()

,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,drgorillapaints,We all know where itâ€™s going. We just have toÂ ...,880,#deckÂ .#macÂ #macintosh#sayhelloÂ #appleÂ #steve...,2 hours,23
2,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswhoÂ #aitradingÂ #aiÂ #aitradingteam#instat...,2 hours,25
3,opensourcedworkplace,sfad,340,#iotÂ #cre#workplaceÂ #CDOÂ #bigdataÂ #technology#...,3 hours,49
4,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearningÂ #instabigdata#instamarke...,3 hours,30

In [11]:
df.dtypes

USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted    object
Likes                 int64
dtype: object

In [14]:
df.isnull().sum()

USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [19]:
max(df["Caption"].mode())

'ðŸ˜‚ðŸ˜‚'

In [20]:
df["Caption"]=df["Caption"].fillna(max(df["Caption"].mode()))

In [22]:
df.isnull().sum()

USERNAME             0
Caption              0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [ ]:
df.